<?xml version="1.0"?>
<launch>
    <!-- Launch arguments -->
    <arg name="input_radar_topic" default="/afi910_cloud_node/cloud" />
    <!-- radar dataset type: vod, afi910, custom -->
    <arg name="radar_dataset_type" default="afi910" />
    <arg name="algorithm_ini_path" default="config/radar_4_vox_map/radar_4_vox_map_config.ini" />
    <arg name="world_frame_id" default="world" />
    <arg name="base_link_frame_id" default="base_link" />
    <arg name="publish_tf" default="true" />
    <arg name="publish_voxel_map" default="true" />
    <arg name="publish_graph" default="true" />
    <arg name="visualize" default="false" />
    <arg name="publish_ground_truth_pose" default="false" />
    <arg name="ground_truth_pose_topic" default="/pose/local" />
    
    <!-- Launch radar_4_vox_map_ros node -->
    <node pkg="radar_4_vox_map" type="radar_4_vox_map_ros" name="radar_4_vox_map" output="screen">
        <param name="radar_topic" value="$(arg input_radar_topic)" />
        <param name="radar_dataset_type" value="$(arg radar_dataset_type)" />
        <param name="algorithm_ini_path" value="$(arg algorithm_ini_path)" />
        <param name="world_frame_id" value="$(arg world_frame_id)" />
        <param name="base_link_frame_id" value="$(arg base_link_frame_id)" />
        <param name="publish_tf" value="$(arg publish_tf)" />
        <param name="publish_voxel_map" value="$(arg publish_voxel_map)" />
        <param name="publish_graph" value="$(arg publish_graph)" />
        <param name="publish_ground_truth_pose" value="$(arg publish_ground_truth_pose)" />
        <param name="ground_truth_pose_topic" value="$(arg ground_truth_pose_topic)" />
    </node>
    
    <!-- Launch RViz for visualization (optional) -->
    <node pkg="rviz" type="rviz" name="rviz" 
          args="-d $(find radar_4_vox_map)/ros/rviz/radar_4_vox_map.rviz" 
          if="$(arg visualize)" />
</launch> 